<div class="span10 offset1">

<div id="homeblurb">

  <%= render 'layouts/messages' %>
  <div class="maincta"><%= link_to "Open App on iPhone", "GoodTimes://", class: "btn btn-large btn-primary" %></div> 
  <%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %> 

</div>

</div>