<div class="span10 offset1">

<div class="homeblurb">

  <%= render 'layouts/messages' %>
  <div class="maincta"><%= link_to "Open App on iPhone", "YipTip://", class: "btn btn-large btn-primary" %></div> 

</div>

</div>