<p>Hello <%= @resource.email %>!</p>
<br/>
<p><%= @resource.invited_by.name %> has invited you to try out HeyBarkeep, a new app for iPhone that lets you stay in touch with your favorite bartenders.</p>
<br/>
<p>You and your friends can see who's working where and discover new drinking destinations. Bartenders can build their following and promote their latest concoction.</p>
<br/>
<p>Learn more and download the app for iPhone at <%= link_to root_url, root_url %>.</p>