<p>Hello <%= @resource.email %>!</p>
<br/>
<p><%= @resource.invited_by.name %> has invited you to try out MyBarkeepers, a new app for iPhone that lets you keep in touch with your favorite bartenders. Follow your favorite people and places to find tonight's drink destination.</p>
<br/>
<p>Learn more and download the app for iPhone at <%= link_to root_url, root_url %>.</p>